<%= turbo_frame_tag "new_role_frame" do %>
<%= form_with(model: [@department, @role], data: { turbo_frame: "department_#{@department.id}" }) do |form| %>

<%= form.text_field :role, class: "form-control" %>
<div class="d-flex justify-content-end mt-3">
  <%= form.submit "追加", class: "btn btn-sm btn-primary me-2" %>
</div>
<% end %>
<% end %>