<h1>Editing apply data tab</h1>

<%= render "form", apply_data_tab: @apply_data_tab %>

<br>

<div>
  <%= link_to "Show this apply data tab", @apply_data_tab %> |
  <%= link_to "Back to apply data tabs", apply_data_tabs_path %>
</div>
