<label for="phone_number_input">社員番号:</label>
<input type="text" id="phone_number_input" data-search-target="phoneNumber" data-controller="search" data-action="keyup->search#search">
<div data-search-target="results"></div>