<%= render "form", apply: @apply %>

<br>

<div class="d-flex justify-content-end">
  <!-- Align buttons to the right -->
  <%= link_to "戻る", applies_path, class: "btn btn-primary me-2" %>
  <%= link_to "削除", @apply, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-danger"%>
</div>