<h1>詳細画面</h1>

<%= render "show", apply: @apply %>

<br>

<div class="d-flex justify-content-end">
  <!-- Align buttons to the right -->
  <%= link_to "戻る", applies_path, class: "btn btn-primary me-2" %>
</div>